---
layout: default
title: 首页
---

{% if paginator.previous_page %}
{% else %}
{% for page in site.pages %}
  {% if page.name == 'home.md' %}
    <article class="page">
      {{ page.content }}
    </article>
  {% endif %}
{% endfor %}
{% endif %}

<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>

    {{ post.content }}
  </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
  <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">上一页</a>
  {% else %}
  <span class="pagination-item newer">上一页</span>
  {% endif %}

  {% if paginator.next_page %}
  <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">下一页</a>
  {% else %}
  <span class="pagination-item older">下一页</span>
  {% endif %}
</div>
